<div class="container" id="footerTot">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../../../assets/logo.png" alt="logo giallo zafferano" width="120px">
            </div>

            <div class="col d-flex flex-column">
                <p class="fw-bold text-secondary">Seguiteci</p>
                <a href="https://www.facebook.com/GialloZafferanolive" target="_blank" class="text-secondary"><i
                        class="bi bi-facebook me-3"></i> Facebook</a>
                <a href="https://www.instagram.com/giallozafferano/" target="_blank" class="text-secondary"><i
                        class="fab fa-instagram me-3"></i> Instagram</a>
                <a href="https://www.tiktok.com/login?redirect_url=https%3A%2F%2Fwww.tiktok.com%2F%40giallozafferano&lang=en&enter_method=mandatory"
                    target="_blank" class="text-secondary"><i class="bi bi-tiktok me-3"></i> TikTok</a>
                <a href="https://www.youtube.com/user/GialloZafferanoTV" target="_blank" class="text-secondary"><i
                        class="bi bi-youtube me-3"></i> YouTube</a>
            </div>

            <div class="col">
                <p class="fw-bold text-secondary">Info</p>
                <p class="text-secondary">Chi siamo</p>
                <p class="text-secondary">Accedi</p>
                <p class="text-secondary">Abbonati</p>
                <p class="text-secondary">Gruppo Mondadori</p>
            </div>

            <div class="col">
                <p class="fw-bold text-secondary">Scopri</p>
                <p class="text-secondary">Crea un blog</p>
                <p class="text-secondary">In edicola</p>
                <p class="text-secondary">Shopping</p>
                <p class="text-secondary">Ultime ricette</p>
            </div>

            <div class="col">
                <p class="fw-bold text-secondary">Scarica l'App</p>
                    <button type="button" class="btn btn-dark text-white fw-bold"><i class="bi bi-apple me-2 fs-4"></i>App Store</button>
                <button type="button" class="btn btn-dark text-white fw-bold mt-3"><i class="bi bi-google-play me-2 fs-4"></i>Google
                    Play</button>
                <p class="fw-bold text-secondary mt-3">Iscriviti alla Newsletter</p>
                <input type="text" placeholder="Inserisci la tua email" class="mb-3 rounded-2 ps-2 pe-4 border border-secondary">
                <button type="button" id="iscriviti" class="btn btn-warning text-white fw-bold rounded-pill">Iscriviti <i
                        class="bi bi-arrow-right-short"></i></button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container text-secondary text-center" id="footer">
        <p class="fw-bold">&copy; 2022 Mondadori Media S.p.A</p>
        <p class="text-secondary">P.IVA 08009080964</p>
        <a href="#" class="text-secondary me-3">Condizioni d'uso</a>
        <a href="#" class="text-secondary me-3">Privacy</a>
        <a href="#" class="text-secondary me-3">Privacy Policy</a>
        <a href="#" class="text-secondary me-3">Cookie Policy</a>
        <a href="#" class="text-secondary me-3">Opzioni cookie</a>
        <a href="#" class="text-secondary me-3">Disclaimer</a>
        <a href="#" class="text-secondary me-3">Governance</a>
        <a href="#" class="text-secondary">Gruppo Mondadori</a>
        <p class="mt-3">Le Condizioni e Termini d'Uso sono state modificate. Le nuove <a href="https://privacy.stbm.it/site/giallozafferano/condizioni-generali.html" target="_blank" class="text-secondary">Condizioni e Termini d'Uso</a> sono entrate in vigore dal 6Giugno 2022, ti preghiamo di prenderne visione a <a href="https://privacy.stbm.it/site/giallozafferano/condizioni-generali.html" target="_blank" class="text-secondary">questo link</a>.</p>
    </div>
</div>
