<div class="container">
    <h4 class="text mb-3">SPECIALE CUCINA CINESE <span><i class="bi bi-arrow-down fs-3 text-warning"></i></span></h4>
        <div class="row">
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/243-24319/Ramen_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Ramen</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 49
                            <i class="bi bi-star ms-2 me-1"></i> 4.1</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/238-23854/Wonton-fritti_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Wonton fritti</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 4
                            <i class="bi bi-star ms-2 me-1"></i> 4.9</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/24-2493/Frutta-fritta-caramellata_780x520_wm.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Frutta fritta caramellata</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 31
                            <i class="bi bi-star ms-2 me-1"></i> 3.8</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/238-23853/Wonton-soup_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Wonton soup</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 8
                            <i class="bi bi-star ms-2 me-1"></i> 4.5</p>
                    </div>
                </div>
            </div>
        </div>

    <h4 class="text mb-3 mt-5">TI CONSIGLIAMO <span><i class="bi bi-arrow-down fs-3 text-warning"></i></span></h4>
        <div class="row">
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/219-21946/Ramen-di-pollo_780x520_wm.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Ramen di pollo</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 49
                            <i class="bi bi-star ms-2 me-1"></i> 4.1</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/200-20059/Muffin-al-latte-di-mandorla-e-gocce-di-cioccolato_780x520_wm.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Muffin al latte con gocce...</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 4
                            <i class="bi bi-star ms-2 me-1"></i> 4.9</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/226-22657/Ciambella-al-cocco_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Ciambella al cooco</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 31
                            <i class="bi bi-star ms-2 me-1"></i> 3.8</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/225-22519/Torta-al-cioccolato-senza-burro_780x520_wm.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Torta al cioccolato senza...</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 8
                            <i class="bi bi-star ms-2 me-1"></i> 4.5</p>
                    </div>
                </div>
            </div>
        </div>

    <h4 class="text mb-3 mt-5">RICETTE IN EVIDENZA <span><i class="bi bi-arrow-down fs-3 text-warning"></i></span></h4>
        <div class="row">
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/182-18239/Ossibuchi-alla-milanese_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Ossibuchi alla milanese</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 159
                            <i class="bi bi-star ms-2 me-1"></i> 4.2</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/241-24127/Pure-di-patate_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Purè di patate</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 201
                            <i class="bi bi-star ms-2 me-1"></i> 3.9</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/177-17726/Pasta-fresca-all-uovo_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Pasta fresca all'uovo</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 730
                            <i class="bi bi-star ms-2 me-1"></i> 4.2</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/173-17345/Panettone_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Panettone</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 396
                            <i class="bi bi-star ms-2 me-1"></i> 4.3</p>
                    </div>
                </div>
            </div>
        </div>

    <h4 class="text mb-3 mt-5">LE RICETTE DEL MOMENTO <span><i class="bi bi-arrow-down fs-3 text-warning"></i></span></h4>
        <div class="row">
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/173-17365/Cuccia-al-cioccolato_780x520_wm.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Cuccia al cioccolato</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 159
                            <i class="bi bi-star ms-2 me-1"></i> 4.2</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/182-18222/Gatti-di-Santa-Lucia-Lussekatter_780x520_wm.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Gatti di Santa Lucia</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 201
                            <i class="bi bi-star ms-2 me-1"></i> 3.9</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/173-17310/Biscotti-di-Pan-di-zenzero-gingerbread_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Piscotti di Pan di Zenzero</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 730
                            <i class="bi bi-star ms-2 me-1"></i> 4.2</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/226-22673/Tronchetto-di-Natale-Buche-de-Noel_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Tronchetto di Natale</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 396
                            <i class="bi bi-star ms-2 me-1"></i> 4.3</p>
                    </div>
                </div>
            </div>
        </div>

    <h4 class="text mb-3 mt-5">CONSIGLIATE PER TE <span><i class="bi bi-arrow-down fs-3 text-warning"></i></span></h4>
        <div class="row">
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/225-22581/Tronchetto-di-Natale-innevato_450x300.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Tronchetto di Natale in...</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 30
                            <i class="bi bi-star ms-2 me-1"></i> 4.2</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/152-15229/Festone-di-pan-di-zenzero_780x520_wm.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Festone di pan di zenzero</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 20
                            <i class="bi bi-star ms-2 me-1"></i> 3.8</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/182-18274/Zuccherini-montanari_780x520_wm.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Zuccherini montanari</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 26
                            <i class="bi bi-star ms-2 me-1"></i> 4.4</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.giallozafferano.it/images/205-20541/Cioccolata-calda-al-caffe_780x520_wm.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Cioccolata calda al caffè</h5>
                        <p class="card-text text-secondary fw-bold mt-3"><i class="bi bi-chat-right-dots me-1"></i> 5
                            <i class="bi bi-star ms-2 me-1"></i> 4</p>
                    </div>
                </div>
            </div>
        </div>

</div>
